body{
	margin:10px;
	padding:10px;
}
.left{
    display:inline-block;
    background-color:#636103E6;
    width:18%;
    height:500px;
    float:left;
}
.right{
	display:inline-block;
	width:80%;
	margin:0px 5px;
}
img{
	display:block;
	width:70%;
	border:2px solid #000000;
	box-shadow:1px #000000;
	margin:20% 15%;
}
header{
	 background-color: #D3D3D3;
	 background-image:url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
	 height:150px;
	 padding: 10px;
	}
h1{
	text-transform: uppercase;
	color:#FFFFFF;
	font-family: "Times New Roman";
	text-align: center;
}
nav>a{
	display:inline-block;
	float:left;
	color:#000000;
	background-color: rgba(255,250,250,0.35);
	font-size: 22px;
	width:170px;
	text-align:center;
	padding:15px;
	margin:0px 30px;
	text-decoration:none;
	border-radius: 5px;
}
h2{
	font-family: "Times New Roman";
	color: #000000;
	
}
.active{
	background-color:#FFFFFF;
	color:#0000FF;
}
